<f:if condition="{image}">
    <f:then>
        <div class="article__container">
            <aside class="article__section article__section--aside {f:if(condition:'{content.orientation}==right',then:'article__section--aside-right',else:'')}">
                <f:for each="{image}" as="file">
                    <figure class="figure" {f:if(condition: '{file.description} || {file.properties.creator}',then:'aria-labelledby="figure-{data.uid}fd"')}>
                        <div class="figure__media" {f:if(condition:'{file.description}',then:'data-caption="{file.description}"',else:'')} {f:if(condition:'{file.properties.creator}',then:'data-copyright="({file.properties.creator})"',else:'')}>
                            <f:if condition="{file.link}">
                                <f:then>
                                    <f:link.typolink parameter="{file.link}">
                                        <f:image class="image" image="{file}" treatIdAsReference="1" alt="{file.alternative}" title="{file.title}" />
                                    </f:link.typolink>
                                </f:then>
                                <f:else>
                                    <f:image class="image" image="{file}" treatIdAsReference="1" alt="{file.alternative}" title="{file.title}" />
                                </f:else>
                            </f:if>
                        </div>
                        
                        <f:if condition="{file.description}">
                            <f:then>
                                <figcaption class="figure__caption" id="figure-{data.uid}">{file.description} <f:if condition="{file.properties.creator}"><small class="figure__copyright">({file.properties.creator})</small></f:if>
                                </figcaption>
                            </f:then>
                            <f:else>
                                <f:if condition="{file.properties.creator}">
                                    <figcaption class="figure__caption" id="figure-{data.uid}"><small class="figure__copyright">({file.properties.creator})</small></figcaption>
                                </f:if>
                            </f:else>
                        </f:if>
                      
                    </figure>
                </f:for>
            </aside>
            <div class="article__section">
                <f:if condition="{data.header}"><f:if condition="{data.header_layout} < 100">
                    <h2 class="headline headline--4" {f:if(condition:data.sectionIndex,then:'id="b{localizedUid}b"')}>{data.header}</h2>
                </f:if></f:if>
                <div class="formatted-text">
                    <f:format.html>{data.bodytext}</f:format.html>
                </div>
            </div>
        </div>
    </f:then>
    <f:else>
        <f:if condition="{0:'',1:''} != {0:'{data.header}',1:'{data.bodytext}'}">
            <div class="article__section" id="c{localizedUid}">
                <f:if condition="{data.header}"><f:if condition="{data.header_layout} < 100">
                    <h2 class="headline headline--4" {f:if(condition:data.sectionIndex,then:'id="b{localizedUid}b"')}>{data.header}</h2>
                </f:if></f:if>
                <f:if condition="{data.bodytext}">
                    <div class="formatted-text">
                        <f:format.html>{data.bodytext}</f:format.html>
                    </div>
                </f:if>
            </div>
        </f:if>
    </f:else>
</f:if>




