<f:if condition="{image}">
    <f:for each="{image}" as="file">
        <figure class="figure article-header__image" aria-labelledby="figure-{localizedUid}e">
            <f:if condition="{data.image_zoom}">
                <f:then>
                    <f:link.typolink 
                        parameter="{f:uri.image(image: file)}" 
                        class="figure__media js-image-resize"
                        additionalAttributes="{
                            data-height: '800',
                            data-width: '1200',
                            data-caption: '{file.description}',
                            data-copyright: '({file.properties.creator})'
                            }">
                       <f:media file="{file}" class="image cover__image" alt="{file.alternative}" width="1200 1400w, 770 865w,375 480w" height="500 1400w, 410 865w,300 480w"  additionalAttributes="{ sizes: '(min-width: 1000px) 1400px, (min-width: 740px) 865px, (min-width: 375px) 480px, 100vw', srcset:'{f:uri.image(image: file, cropVariant: \'default\', width:\'1200c\', height:\'500c\')} 1400w,{f:uri.image(image: file, cropVariant: \'specialTablet\', width:\'770c\', height:\'410c\')} 865w,{f:uri.image(image: file, cropVariant: \'specialMobile\', width:\'375c\', height:\'300c\')} 480w'}"/>
                        <div class="figure__media-overlay">
                            <div class="icon-button icon-button--action icon-button--blue" id="icon-button-3063">
                                <svg aria-labelledby="title-icon-{localizedUid}" class="icon icon-button__icon icon--magnifier-add" id="icon-{localizedUid}" role="img" viewbox="0 0 200 200">
                                    <title id="title-icon-{localizedUid}"><f:translate key="image-zoom" extensionName="site_default"/></title>
                                    <use xlink:href="#icon-magnifier-add">
                                    </use>
                                </svg>
                            </div>
                        </div>
                    </f:link.typolink>
                </f:then>
                <f:else>
                    <div class="figure__media"{f:if(condition:file.description,then:' data-caption="{file.description}"')}{f:if(condition:file.properties.creator,then:' data-copyright="({file.properties.creator})"')}>
                       <f:media file="{file}" class="image cover__image" alt="{file.alternative}" width="1200 1400w, 770 865w,375 480w" height="500 1400w, 410 865w,300 480w"  additionalAttributes="{ sizes: '(min-width: 1000px) 1400px, (min-width: 740px) 865px, (min-width: 375px) 480px, 100vw', srcset:'{f:uri.image(image: file, cropVariant: \'default\', width:\'1200c\', height:\'500c\')} 1400w,{f:uri.image(image: file, cropVariant: \'specialTablet\', width:\'770c\', height:\'410c\')} 865w,{f:uri.image(image: file, cropVariant: \'specialMobile\', width:\'375c\', height:\'300c\')} 480w'}"/>
                    </div>
                </f:else>
            </f:if>
            <f:if condition="{file.description}">
                <f:then>
                    <figcaption class="figure__caption" id="figure-{localizedUid}e">{file.description} <f:if condition="{file.properties.creator}"><small class="figure__copyright">({file.properties.creator})</small></f:if>
                    </figcaption>
                </f:then>
                <f:else>
                    <f:if condition="{file.properties.creator}">
                        <figcaption class="figure__caption" id="figure-{localizedUid}e"><small class="figure__copyright">({file.properties.creator})</small>
                        </figcaption>
                    </f:if>
                </f:else>
            </f:if>
        </figure>
    </f:for>
</f:if>

