<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

 <!-- Testimonials -->
    <section class="vc_row pt-75 pb-0 mt-0 mb-0 content" id="content">
        <div class="container">
            <div class="row">
                <div class="lqd-column col-md-12 mb-20">
                    <header class="fancy-title">
                        <h2 class="mt-0 mb-3">{content.header}</h2>
                        <h6 class="font-size-15 font-weight-normal opacity-05">{content.subHeader}</h6>
                    </header>
                </div><!-- /.lqd-column col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
                <f:cObject typoscriptObjectPath="lib.getTestimonials" data="{uid: content.testimonials}" />
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>
    
</html>