<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:be.container pageTitle="{f:translate(key: 'pagetitle')}" includeRequireJsModules="{0:'TYPO3/CMS/NsBasetheme/Main'}">

    <!-- Due to css-order rendering issue ignoring "includeCssFiles" -->
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'Vendor/bootstrap4.3.1.min.css', extensionName: 'ns_basetheme')}" media="all">
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'css/Module/global.css', extensionName: 'ns_basetheme')}" media="all">
    <link rel="stylesheet" type="text/css" href="{f:uri.resource(path:'css/Module/main.css', extensionName: 'ns_basetheme')}" media="all">

	<div class="typo3-fullDoc">
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody" style="padding: 24px;margin-top: 0;transition: border .2s ease;">
				<div class="ns-ext-navigation-wrap">
					<a class="navbar-brand ns-ext-name ns-ext-name-desktop" href="javascript:;"><f:translate key="extensionName" /></a>
					<div class="ns-ext-navigation">
						<nav class="navbar navbar-expand-lg">
							<a class="navbar-brand ns-ext-name" href="javascript:;"><f:translate key="extensionName" /></a>
							<button class="navbar-toggler" type="button" {settings.bootAttr}toggle="collapse" {settings.bootAttr}target="#nsextNavbar"
								aria-controls="nsextNavbar" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler__line"></span>
								<span class="navbar-toggler__line"></span>
								<span class="navbar-toggler__line"></span>
							</button>
							<div class="collapse navbar-collapse" id="nsextNavbar">
								<ul class="navbar-nav">
									<li class="nav-item {f:if(condition: '{action}==generalSettings', then: 'active')}">
										<f:link.action action="generalSettings" additionalParams="{cat:'ns_basetheme'}" class="nav-link">
											<em class="fa fas fa-cog" aria-hidden="true"></em><f:translate key="generalSettings" />
										</f:link.action>
									</li>
									<li class="nav-item {f:if(condition: '{action}==seoSettings', then: 'active')}">
										<f:link.action action="seoSettings" additionalParams="{cat:'ns_seo'}" class="nav-link">
											<em class="fa fas fa-search" aria-hidden="true"></em><f:translate key="seoSettings" />
										</f:link.action>
									</li>
									<li class="nav-item {f:if(condition: '{action}==gdprSettings', then: 'active')}">
										<f:link.action action="gdprSettings" additionalParams="{cat:'ns_gdpr'}" class="nav-link">
											<em class="fa fas fa-lock" aria-hidden="true"></em><f:translate key="gdprSettings" />
										</f:link.action>
									</li>
									<li class="nav-item {f:if(condition: '{action}==styleSettings', then: 'active')}">
										<f:link.action action="styleSettings" additionalParams="{cat:'ns_style'}" class="nav-link">
											<em class="fa fas fa-adjust" aria-hidden="true"></em><f:translate key="styleSettings" />
										</f:link.action>
									</li>
									<li class="nav-item {f:if(condition: '{action}==integrationSettings', then: 'active')}">
										<f:link.action action="integrationSettings" additionalParams="{cat:'ns_integration'}" class="nav-link">
											<em class="fa fas fa-code" aria-hidden="true"></em><f:translate key="integrationSettings" />
										</f:link.action>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
				<f:render section="content" />
			</div>
		</div>
	</div>
	<div class="ns-license-loader" id="nsLicenseLoader" style="display: none;">
        <f:image src="typo3conf/ext/ns_basetheme/Resources/Public/Icons/loader.gif" alt="loader img" style="width:120px; height: 160px;" />
    </div>
</f:be.container>

</html>
