
<f:form action="saveConstant" class="ns-ext-form" method="post" enctype="multipart/form-data" id="TypoScriptTemplateModuleController" name="editForm" pageType="22184356">
    <div class="d-sm-flex justify-content-sm-between align-items-sm-center ns-ext-submit-wrap">
        <h4>{menuName}</h4>
    </div>

    <f:if condition="{constant}!=''">
        <f:then>
            {constant->f:format.raw()}
        </f:then>
        <f:else>
            <p class="alert alert-warning"><f:translate key="noThemeConfiguration" /></p>
        </f:else>
    </f:if>
</f:form>
