<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{flexformData.headline}">
	
	<!-- FAL Media -->
	<f:comment>
		<p><f:image src="{flexformData.image}" width="200" /></p>
	</f:comment>

	<!-- Static Media -->
	<p><img src="http://placehold.it/1980x1080" width="200" /></p>
  
	<h4>{flexformData.headline}</h4>
	<h6">{flexformData.subheadline}</h6>
	<p>{flexformData.text}</p>
	<p><f:link.typolink parameter="{flexformData.link}" additionalAttributes="{style='color:grey;'}" target="_blank"><f:translate key="LLL:EXT:site_default/Resources/Private/Language/locallang.xlf:ns_imageteaser.readmore" /></f:link.typolink></p>
</f:if>

</html>
