<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <h2><f:translate key="LLL:EXT:ns_basetheme/Resources/Private/Language/locallang_db.xlf:wizard.ns_testimonials"/></h2>
    <header>
        <div class="row">
            <!-- FAL Media -->
            <div class="col-md-12">
                <f:if condition="{flexformData.header}"><h3>{flexformData.header}</h3></f:if>
                <f:if condition="{flexformData.subHeader}"><h4>{flexformData.subHeader}</h4></f:if>
            </div>
        </div>
    </header>

</html>